.link {
  font-weight: 500;
  color: var(--text-light);
  text-decoration: inherit;
}

.link:hover {
  color: var(--primary);
}

.neon {
  color: var(--primary);
}
.neon:hover {
  text-shadow: 0 0 8px var(--primary-glow);
}

.light {
  color: var(--text-light);
}

.muted {
  color: var(--text-muted);
}