input, select, textarea {
    background: var(--bg-dark-2);
    border: 1px solid #2e2e2e;
    padding: 12px;
    border-radius: var(--radius);
    width: 100%;
    color: var(--text-light);
    transition: var(--transition);
}

input:focus, select:focus, textarea:focus {
    border-color: var(--primary);
    outline: none;
    box-shadow: 0 0 12px rgba(255, 92, 92, 0.55);
}

