#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  padding-top: 4rem;
  text-align: center;
}

.home-top {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
  padding-bottom: 5%;
}

.home-down {
  display: flex;
  flex-direction: row;
  align-items: top;
  justify-content: center;
  gap: 10%;
}

.homelist-container{
  display: flex;
  flex-direction: column;
  gap: 10px;
}



