.carousel-container {
    width: 100%;
    max-width: 300px;
    margin: 0 auto;
    padding: 20px 0;
}

.swiper {
  width: 100%;
  height: 100%;
}

.carousel  {
    background: var(--glass-bg);
    backdrop-filter: blur(10px);
    border-radius: var(--radius);
    box-shadow: 0 0 20px var(--primary-glow);
}

.carousel .swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--primary-shadow);
    overflow: hidden;
    border-radius: 10px;
}

.carousel .swiper-slide :hover {
    transform: scale(0.99);
    box-shadow: var(--primary-glow);
}

.carousel .swiper-slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
    transition: transform .3s ease;
}

.carousel .swiper-scrollbar {
    background: var(--primary-shadow);
    height: 8px;
    border-radius: 8px;
}

.carousel .swiper-button-prev, 
.carousel .swiper-button-next{
    color: var(--primary);
}