.post-container {
  width: 100%;
  border-radius: 12px;
  padding: 18px;
  background: var(--bg-dark-2);
  box-shadow: 0 0 10px var(--primary-glow);
}

.posts {
  width: 100%;
  height: 640px;           
  overflow: hidden;
  padding-right: 20px;     
  box-sizing: border-box;
}

.posts .swiper-wrapper {
  display: flex;
  flex-direction: column;
}

.posts .swiper-scrollbar {
  width: 6px;
  background: var(--primary);
}

